{% extends ":default:layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}


{% block content %}
    <h1>Bienvenue sur mon blog</h1>
    <p>
        Vous trouverez ici une liste d'articles traitant sur les langagues informatique et les utilitaires
    </p>
{% endblock %}