{% extends ":default:layout.html.twig" %}

{% block title %}
    Accueil de l'administration
{% endblock %}

{% block content %}
    <h1>Accueil de l'administration</h1>
    <ul>
        <li><a href="">Liste des articles</a></li>
        <li><a href="">Liste des categories</a></li>
    </ul>
{% endblock %}
