{% extends ":default:layout.html.twig" %}


{% block title %}
    Liste des categories | Admin
{% endblock %}

{% block content %}
    {{ dump(app.user) }}
    <h1>Liste des catégories </h1>
    <a href="" class="pull-right">Ajouter une catégorie</a>
{% endblock %}